body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to bottom, #1a8bbd 0%, #cc6699 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  color: #fff;
}


.content-set {
  display: flex;
  flex-direction: row;
}


.img-head {
  margin: auto;
  overflow: hidden;
  max-width: 380px;
}

.img-head img {
  display: block;
  border-radius: 100%;
  width: 100%;
  height: auto;
  object-fit: top;
  margin-top: 66px;
}


header h1 {
  margin-top: 80px;
  font-size: 36px;
}

header p {
  margin-top: 20px;
  font-size: 18px;
}

header .btn {
  margin-top: 0;
  padding: 20px 40px;
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

header .btn:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.services {
  background-color: #f2f2f2;
  padding: 100px 20px; 
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 30px; 
}

.services .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services .service {
  width: 100%; 
  max-width: 400px; 
  margin: 20px; 
  padding: 30px; 
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.services .service img {
  max-width: 150px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services .service h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.services .service p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

li {
  text-align: left;
}

@media (max-width: 768px) {
  nav {
    top: 20px; 
    right: 20px; 
  }

  nav a {
    margin-left: 20px;
    font-size: 16px; 
  }

  .services h2 {
    font-size: 28px;
    margin-bottom: 20px; 
  }

  .services .service {
    padding: 20px; 
  }

  .services .service h3 {
    font-size: 20px; 
  }

  .services .service p {
    font-size: 14px; 
  }
}

.about {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.about p {
  font-size: 18px;
  margin-bottom: 50px;
  padding: 0 50px;
}

.contact {
  background-color: #33ccff;
  padding: 100px 20px; 
  text-align: center;
  color: #fff;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contact form input,
.contact form textarea {
  width: 100%; 
  max-width: 500px; 
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  color: #333;
}

.contact form input[type="submit"] {
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact form input[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {

  header {
    width: auto;
    height: auto;
  }

  .contact h2 {
    font-size: 28px; 
    margin-bottom: 20px; 
  }

  .contact form input,
  .contact form textarea {
    max-width: 400px;
    padding: 15px; 
    font-size: 16px; 
  }

  .contact form input[type="submit"] {
    padding: 15px 30px; 
    font-size: 16px; 
  }

  li {
    text-align: left;
  }
}


.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 18px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ff7f50; 
}

.services .service {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.services .service:hover {
  transform: translateY(-5px);
}

.services .service img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services .service h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.services .service p {
  color: #666;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 0 100px;
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #ff7f50; 
}

footer::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #fff;
  margin: 10px auto;
}

footer p {
  animation: fadeInUp 1s ease-in-out;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.about-nav a {
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.about-nav a:last-child {
  margin-right: 0;
}

.background-image {
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 768px) {
  .about-nav {
    padding: 10px;
    background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  }

  .about-nav a {
    padding: 8px 12px; 
    font-size: 16px; 
  }

  .about h2 {
    font-size: 28px;
  }


  @media (max-width: 480px) {

    nav {
      padding: 8px;
      background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    }

    nav a {
      /* margin-left: 20px;  */
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 6px 10px;
    }
    .about-nav {
      padding: 8px;
      background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); 
    }

    .about-nav a {
      padding: 6px 10px; 
      font-size: 20px; 
    }

    .about {
      background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
      padding-top: 30px;
    }

    .about h2 {
      margin-top: 0;
      font-size: 24px; 
    }

    .about p {
      color: wheat;
    }

    header {
      width: auto;
      height: auto;
    }


    .img-head {
      margin: 0;
    }


    .img-head img {
      border-radius: 100%;
      width: 160px;
      height: 170px;
      margin-top: 10px;
    }

    .txt {
     text-align: center;  
    }

    .txt h1 {
      margin-top: 8px;
    }


    p {
      font-size: 16px;
      line-height: 1.5;
    }
  
    /* Add padding to improve readability */
    .container {
      padding: 20px;
    }
  
    /* Center-align the text for better mobile presentation */
    .text-center {
      text-align: center;
      width: auto;
    }

    .content-set {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      
    }

    li {
      text-align: left;
    }
    
  }
}


nav a:hover {
  color: #00ff33;
}


.contact form button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact form button[type="submit"]:hover {
  background-color: #0056b3; 
}

#projects {
  margin-top: 50px;
  margin-bottom: 50px; 
  background-color: #666;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
  margin-top: 0;
  padding-top: 6px;
  margin-bottom: 0;
  padding-bottom: 3px;
}

#projects article {
  background-image: linear-gradient(to bottom, #1a8bbd 0%, #cc6699 100%);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#projects article:hover {
  transform: translateY(-5px);
}

#projects h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333333;
}

#projects p {
  color: whitesmoke;
  line-height: 1.6;
  margin-bottom: 20px;
}

#projects img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

#projects a {
  display: inline-block;
background-color: #1a8bbd;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#projects a:hover {
  background-color: green;
}

#contact {
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  background-color: #ff564e;
  color: #ffffff;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

#contact p {
  font-size: 18px;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info i {
  font-size: 24px;
  margin-right: 10px;
  color: #ffffff;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #cccccc;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #ffffff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6f61;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: white;
}

.contact-head {
  background-image: linear-gradient(to bottom, #1a8bbd 0%, #cc6699 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90vh;
  color: #fff;
}

.cta-link {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cta-link:hover {
  color: #0A66C2;
}

.cta-link2 {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cta-link2:hover {
  color: #E4405F;
}

nav {
  background-color: #333;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

nav .icon {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
      flex-direction: column;
      align-items: center;
      margin-right: 300px;
      background-image: linear-gradient(to bottom, #1a8bbd 0%, #cc6699 100%);
      width: auto;
      min-width: 630px;
  }

  nav a {
      display: none;
  }

  nav a.icon {
      float: center;
      display: block;
  }

  nav.responsive a {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
}

/* Animation for the navigation items */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

nav a {
  animation: fadeIn 0.5s ease-in-out;
}

.about {
  background-image: linear-gradient(to bottom, #1a8bbd 0%, #cc6699 100%);
  padding-top: 30px;

}

.about p {
  color: whitesmoke;
  padding-top: 0;
  }

  .about h2 {
    margin-bottom: 25px;
  }
